@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap");
@font-face {
  font-family: "aalto";
  src: url("../assets/fonts/aalto/aalto-display-personal-use.otf")
    format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Paranoid Starting";
  src: url("../assets/fonts/paranoid_starting/Paranoid Starting Demo.otf")
    format("opentype");
  font-weight: normal;
  font-style: normal;
}
.active {
  position: relative;
}
.active::after {
  content: "";
  width: 7px;
  height: 7px;
  border-radius: 1000px;
  background-color: black;
  position: absolute;
  bottom: -20%;
  left: 50%;
  transform: translateX(-50%);
}

@media (max-width: 1024px) {
  .active::after {
    left: 0;
    bottom: 50%;
    transform: translate(-150%, 50%);
  }
}

#navUL li {
  font-weight: 500;
}

::-webkit-scrollbar {
  display: none;
}
.opacity-animation{
  animation: opacity;
  animation-duration: 3s;
  animation-delay: 2500ms;
  animation-fill-mode: forwards;


}

@keyframes opacity{
  from{
    opacity: 0;
    scale: 0.5;
  }
  to{
    opacity: 1;
    scale:1
  }
}
.hero{
 animation: opacity 1ms 1ms forwards, leftEnter ease-in 2s  1ms;

}

#magicBtn{
 animation: opacity 1ms 4s forwards, verticalEnter 500ms linear 4s;

}

.nav{
 animation: opacity 1ms 4s forwards, TopEnter 500ms linear 4s;

}

@keyframes verticalEnter{
  from{
    transform: translateY(150%);

  }
  to{
    transform: translateY(0%);
  }
}

@keyframes TopEnter{
  from{
    transform: translateY(-150%);

  }
  to{
    transform: translateY(0%);
  }
}

@keyframes leftEnter{
  from{
    transform: translateX(150%);

  }
  to{
    transform: translateX(0%);
  }
}
