@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap");
@font-face {
  font-family: "aalto";
  src: url("../assets/fonts/aalto/aalto-display-personal-use.otf")
    format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Paranoid Starting";
  src: url("../assets/fonts/paranoid_starting/Paranoid Starting Demo.otf")
    format("opentype");
  font-weight: normal;
  font-style: normal;
}
.active {
  position: relative;
}
.active::after {
  content: "";
  width: 7px;
  height: 7px;
  border-radius: 1000px;
  background-color: black;
  position: absolute;
  bottom: -20%;
  left: 50%;
  transform: translateX(-50%);
}

@media (max-width: 1024px) {
  .active::after {
    left: 0;
    bottom: 50%;
    transform: translate(-150%, 50%);
  }
}

#navUL li {
  font-weight: 500;
}

::-webkit-scrollbar {
  display: none;
}
.opacity-animation{
  animation: opacity;
  animation-duration: 3s;
  animation-delay: 2500ms;
  animation-fill-mode: forwards;


}
.um1{
  animation: opacity 1.5s infinite 1.5s;
  
}

.um2{
  animation: opacity 1s infinite 2s;
  
}
.um3{
  animation: opacity 2s infinite 1s;
  
}

.um4{
  animation: opacity 3s infinite 500ms;
  
}
.nice{
  animation: onlyOpacity 3s infinite;
}
.laught{
  animation-duration: 200ms !important;
  animation-timing-function: ease-out;
  font-size: x-large;
}

@keyframes onlyOpacity{
  from{
    opacity: 0;

  }
  to{
    scale: 2;

  }
}
@keyframes opacity{
  from{
    scale: 1;
    opacity: 0;

  }
  to{
    opacity: 1;
    scale: 2;

  }
}

.nav{
 animation: opacity 1ms 2s forwards, TopEnter 500ms linear 2s;

}
.loadingAnimation{
  animation: zoomIn 2s ease-in forwards;
}


@keyframes verticalEnter{
  from{
    transform: translateY(200%);

  }
  to{
    transform: translateY(0%);
  }
}

@keyframes TopEnter{
  from{
    transform: translateY(-150%);

  }
  to{
    transform: translateY(0%);
  }
}

@keyframes leftEnter{
  from{
    transform: translateX(150%);

  }
  to{
    transform: translateX(0%);
  }
}
@keyframes zoomIn{
  from{
    width: 44.44444%;
  }to{
    width: 28.571429%;
  }
}

.position p{
font-size: large;
font-family: "Geist";
font-weight: bold;

}

.position p:nth-child(1){
font-size: large;
font-weight: 400;
font-size: small;

}

.inputContact{
  border: 0;
  border-bottom: 1px;
  border-color: white;
  font-size: 25px;
  border-style: solid;
  width: 100%;
}
.inputContact:focus{
  outline: 0;
}
.inputContact::placeholder{
  color: white;
}
